<!DOCTYPE html>
<html>
<head>
  <title>Forensics Bot</title>
  <style>
    table, th, td {
      border: 1px solid rgb(27, 16, 170);
      border-collapse: collapse;
    }

    h1 {
      color: rgb(31, 164, 173);
      text-align: center;
    }
    
    th, td {
      padding: 10px;
    }
  </style>
</head>
<body>
<h1>Forensics Bot</h1>
<table>
  <tr>
    <th>Command</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>!q</td>
    <td>Prompts a fingerprint as a question, along with which hand it comes from.</td>
  </tr>
  <tr>
    <td>!c</td>
    <td>Checks your answer if an answer exists, if not uses your answer as potential answer key</td>
  </tr>
  <tr>
    <td>!r</td>
    <td>Resets progress back to finger 1</td>
  </tr>
  <tr>
    <td>!s</td>
    <td>Skips the question</td>
  </tr>
</table>

</body>
</html> 